body
{
    background-color: rgb(138, 134, 134);
}
.wrapper
{
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding:20px'
}

.wrapper:after
{
    content: "";
    display: block;
    clear: both;
} 

.service h2, .service p
{
    color:rgb(133, 133, 133);
    margin: 10px 0;
    text-align: center;
}
.service
{
    float: left;
    background: #eee;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
    height: 140px;
    position: relative;
}



/* clear float */

.content 
{
    padding:10px;
    background-color: #ccc;
    clear: both; /*The clear property specifies what should happen with the element that is next to a floating element.*/
    margin: 20px 1%; /* this will not work, cause clear will not give the full function
     so we need another div tag in between the two elements
     and call the style and add property clear,
      so that we can have full capacity yof clear BUT we can do the came with pseudo class "after" for that */
}

.services:after
{
    content: "";
    display: block;
    clear: both;
    margin: 60px;
}

 /* .red
{
    background-color: rgb(255, 0, 0);
    text-align: center;
    float: left;
}
.blue
{
    background-color: blue;
    text-align: center;
    float: right;
}
.green
{
    background-color: rgb(89, 236, 30);
    text-align: center;
    align-items: center;
    float:right
} 
 .box
{
    height: 100px;
    width: 100px;
}   */

/* floationg column style */
section ,aside
{
    float: left;
    /* the float will not change anything because its on it full width 
    so we need to add seperate width for section and aside  */
    width: 46%;
    /* here we take 46% so that we can get some space for margin and padding */
    padding: 1%;
    margin: 1%;
    background: #f2f2f2;
}
/*  cleanfloat */
.columns
{
    display: block;
    content: "";
    clear: both;
}
/* text coloum  */

.content p
{
     -webkit-column-count: 3;
     column-count: 3;
     -webkit-column-gap:50px;
     column-gap:50px;
     -webkit-column-rule: 1px solid #ccc;
     column-rule: 1px solid #ccc;
     text-align: justify;
}

/* the position property */

/* relative */

.service:nth-child(1)
{
   top: 5px;
}

.service:nth-child(2)
{
   top: 15px;
}

.service:nth-child(3)
{
   top: 25px;
}
/* absolute */

#banner
{
    max-height: 300px;
    overflow: hidden;
    margin:1%;
    position: relative;
    padding-top: 1%;
}

#banner h2
{
    position: absolute;
    top: 55px;
    margin: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

/* fixed */
nav
{
    background: #333;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav li
{
    list-style-type:  none;
    margin:0 5px;
    color: #fff;
    float:right;
    
}
nav ul:after
{
    content:"";
    display: block;
    clear: both;
}