body
{
    background-color: rgb(138, 134, 134);
}
.wrapper
{
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding:20px'
}

.wrapper::after
{
    content: "";
    display: block;
    clear: both;
} 

.service h2, .service p
{
    color:rgb(133, 133, 133);
    margin: 10px 0;
    text-align: center;
}
.service
{
    float: left;
    background: #eee;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
    height: 140px;
}

/* clear float */

.content 
{
    margin-left:7px;
    margin-right:7px;
    margin-bottom:7px;
    padding:10px ;
    background-color: rgb(204, 199, 199);
    clear: both; /*The clear property specifies what should happen with the element that is next to a floating element.*/
    margin-top: 50px;
     /* this will not work, cause clear will not give the full function
     so we need another div tag in between the two elements
     and call the style and add property clear,
      so that we can have full capacity yof clear BUT we can do the came with pseudo class "after" for that */
}

.services::after
{
    content: "";
    display: block;
    clear: both;

 
}

 /* .red
{
    background-color: rgb(255, 0, 0);
    text-align: center;
    float: left;
}
.blue
{
    background-color: blue;
    text-align: center;
    float: right;
}
.green
{
    background-color: rgb(89, 236, 30);
    text-align: center;
    align-items: center;
    float:right
} 
 .box
{
    height: 100px;
    width: 100px;
}   */